{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="content-center">
    <h1>Internal Server Error</h1>

    <p>
        'The service isn\'t available in this moment, please, try it later'
    </p>
</div>
{% endblock %}